<ion-view view-title="Message">
	<!-- <ion-nav-title>Message</ion-nav-title> -->
	<ion-content class="padding">

	<form ng-submit="submitPost()">

		<label class="item item-input">
			<input type="text" ng-model="post.message" placeholder="What do you have to say?" /> 
		</label>
		<button class="button button-full button-positive" type="submit">
            
	        <span data-ng-hide="loading">
	        	Post
	 		</span>
 
			<span data-ng-show="loading">
				Saving
				<i class="fa fa-spinner fa-spin"></i>
			</span>

        </button>

        <a class="button button-full button-calm" ng-click="takePicture()">
        	<span class="fa fa-camera"></span>
    	</a>
</div>
	</form>
	</ion-content>
</ion-view>
