<ion-view view-title="Post">
	<!-- <ion-nav-title>Message</ion-nav-title> -->
	<ion-content class="padding">

	<form ng-submit="submitPost()">
			
		<textarea id="texta" type="text" ng-model="post.message" placeholder="What do you have to say?"></textarea>
		<img ng-hide="!post.image" style="width: 100%" id="image_preview" ng-hide="!post.image" ng-src="{{post.image}}">

		<button class="half button button-positive pull-left {{!post.message && !post.image ? 'disabled':''}}" type="submit">
            
	        <span data-ng-hide="loading">
	        	Post
	 		</span>
 
			<span data-ng-show="loading">
				Saving
				<i class="fa fa-spinner fa-spin"></i>
			</span>

        </button>

        <a ng-hide="post.image" class="half button button-calm pull-right" ng-click="takePicture()">
        	<span class="fa fa-camera"></span>
    	</a>

    	<a id="deletePic" ng-cloak ng-show="post.image" class="half button button-assertive pull-right" ng-click="deletePicture()">
    		<span ng-show="post.image" class="fa fa-times"></span>
    	</a>

</div>
	</form>
	</ion-content>
</ion-view>
