<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- App Info Tab -->
	<ion-tab
		title="App Info"
		icon-off="ion-ios7-information"
		icon-on="ion-ios7-information"
		href="#/tab/info">
		<ion-nav-view name="tab-info"></ion-nav-view>
	</ion-tab>

	<!-- Beacon List Tab -->
	<ion-tab
		title="Beacons"
		icon-off="ion-ios7-world-outline"
		icon-on="ion-ios7-world"
		href="#/tab/beacons">
		<ion-nav-view name="tab-beacons"></ion-nav-view>
	</ion-tab>

</ion-tabs>
